@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:regular,700&display=swap");
body {
   font-family: "Roboto Mono", sans-serif;
   background-color: #000c15;
   color: #cfe2e4;
   font-size: 1.25rem;
   a {
      color: inherit;
   }
   p {
      margin-block-end: 1.1rem;
   }
}
.main-title {
   color: #a5d9e8;
   font-size: 2.25rem;
   margin-block-end: 1.5rem;
}
.tasks-list {
}
.task-item {
   margin-block-end: 1.1rem;
}
.task-link {
   transition: color 0.5s;
}
.task-link:hover {
   color: #a5d9e8;
}
